{% extends 'base.html.twig' %}

{% block title %}Abonne{% endblock %}

{% block body %}
    <h1>Abonne</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdAbonne</th>
                <td>{{ abonne.idAbonne }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ abonne.password }}</td>
            </tr>
            <tr>
                <th>NbLocation</th>
                <td>{{ abonne.nbLocation }}</td>
            </tr>
            <tr>
                <th>DateAbonnement</th>
                <td>{{ abonne.dateAbonnement ? abonne.dateAbonnement|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('abonne_index') }}">back to list</a>

    <a href="{{ path('abonne_edit', {'idAbonne': abonne.idAbonne}) }}">edit</a>

    {{ include('abonne/_delete_form.html.twig') }}
{% endblock %}
